/* use a semi-transparent image for the overlay */
#overlay {
    background-image:url(/images/transparent.png);
    color:#efefef;
    height:450px;
}

/* container for external content. uses vertical scrollbar, if needed */
.contentWrap{
    height:450px;
    overflow-y:auto;
}

.apple_overlay{
    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(../img/overlay/white.png);

    /*
        width after the growing animation finishes
        height is automatically calculated
    */
    width:640px;

    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */
    font-size:11px;

}

.apple_overlay div.close {
	background-image:url(/images/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}


