%table{ :cellspacing => "0", :border => "0", :align => "center", :width => "100%", :cellpadding => "0" }
  %tr
    %td
      %table{ :cellspacing => "0", :border => "0", :width => "100%", :cellpadding => "0" }
        %tr
          %td.td_menuEAFIT{ :align => "right", :valign => "top", :bgcolor => "#ffffff" }
            %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "0%", :cellpadding => "0" }
              %tr
                %td
                  = link_to image_tag ('theme/menu_eafit/03.jpg', :mouseover => "theme/menu_eafit/03.f2.jpg", :class => "n03", :name => "n03", :border => "0", :height => "34", :alt => "", :width => "117") , "http://isis.eafit.edu.co", :target=>"_blank"
                %td
                  %img#n04{ :name => "n04", :src => "/plugin_assets/community_engine/images/menu_eafit/04.jpg", :border => "0", :height => "34", :alt => "", :width => "77" }
                %td
                  %img#n05{ :name => "n05", :src => "/plugin_assets/community_engine/images/menu_eafit/05.jpg", :border => "0", :height => "34", :alt => "", :width => "107" }
                %td
                  %img#n06{ :name => "n06", :src => "/plugin_assets/community_engine/images/menu_eafit/06.jpg", :border => "0", :height => "34", :alt => "", :width => "61" }
                %td
                  %img#n07{ :name => "n07", :src => "/plugin_assets/community_engine/images/menu_eafit/07.jpg", :border => "0", :height => "34", :alt => "", :width => "101" }
                %td
                  %img#n08{ :name => "n08", :src => "/plugin_assets/community_engine/images/menu_eafit/08.jpg", :border => "0", :height => "34", :alt => "", :width => "115" }
            %p{ :style => "margin:0px" }
        %tr
          %td{ :valign => "top", :bgcolor => "#134B85" }
            %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "1024", :cellpadding => "0" }
              %tr
                %td{ :width => "507" }
                  %img{ :src => "/plugin_assets/community_engine/images/plantilla/02.gif", :height => "117", :width => "507" }
                %td{ :width => "517" }
                  =:welcome_message.l(:login_link => (link_to :log_in.l, login_path), :signup_link => (link_to :sign_up.l, signup_path))
            %p{ :style => "margin:0px" }
        %tr
          %td.td_barraAmarilla{ :valign => "top" }
        %tr
          %td{ :valign => "top", :bgcolor => "#134B85" }
            %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "1024", :cellpadding => "0", :bgcolor => "#004B85" }
              %tr
                %td
                  %img#n01{ :name => "n01", :src => "/plugin_assets/community_engine/images/menu_principal1/01.gif", :border => "0", :height => "39", :alt => "", :width => "144" }
                %td
                  %img#n{ :name => "n02_2", :src => "/plugin_assets/community_engine/images/menu_principal1/02.gif", :border => "0", :height => "39", :alt => "", :width => "214" }
                %td
                  %img#n2{ :name => "n03_2", :src => "/plugin_assets/community_engine/images/menu_principal1/03.gif", :border => "0", :height => "39", :alt => "", :width => "133" }
                %td
                  %img#n3{ :name => "n04_2", :src => "/plugin_assets/community_engine/images/menu_principal1/04.gif", :border => "0", :height => "39", :alt => "", :width => "167" }
                %td
                  %img#n4{ :name => "n05_2", :src => "/plugin_assets/community_engine/images/menu_principal1/05.gif", :border => "0", :height => "39", :alt => "", :width => "201" }
                %td
                  %img#n5{ :name => "n06_2", :src => "/plugin_assets/community_engine/images/menu_principal1/06.gif", :border => "0", :height => "39", :alt => "", :width => "165" }
            %p{ :style => "margin:0px" }
        %tr
          %td{ :background => "/plugin_assets/community_engine/images/plantilla/backmenugreen.gif" }
            %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "1024", :cellpadding => "0", :bgcolor => "#DCE137" }
              %tr
                %td{ :bgcolor => "#DCE137" }
                  %img#n6{ :name => "n01_2", :src => "/plugin_assets/community_engine/images/menu_principal2/01.jpg", :border => "0", :height => "41", :alt => "", :width => "277" }
                %td{ :bgcolor => "#DCE137" }
                  %img#n7{ :name => "n02_3", :src => "/plugin_assets/community_engine/images/menu_principal2/02.gif", :border => "0", :height => "41", :alt => "", :width => "225" }
                %td{ :bgcolor => "#DCE137" }
                  %img#n8{ :name => "n03_3", :src => "/plugin_assets/community_engine/images/menu_principal2/03.gif", :border => "0", :height => "41", :alt => "", :width => "164" }
                %td{ :bgcolor => "#DCE137" }
                  %img#n9{ :name => "n04_3", :src => "/plugin_assets/community_engine/images/menu_principal2/04.gif", :border => "0", :height => "41", :alt => "", :width => "183" }
                %td{ :bordercolor => "#DDE236" }
                  %img#n10{ :name => "n05_3", :src => "/plugin_assets/community_engine/images/menu_principal2/05.gif", :border => "0", :height => "41", :alt => "", :width => "175" }
            %p{ :style => "margin:0px" }
        %tr
          %td{ :height => "137", :valign => "top" }
            %table{ :cellspacing => "0", :border => "0", :height => "137", :align => "center", :width => "1024", :cellpadding => "0" }
              %tr
                %td{ :height => "137", :width => "31" }
                %td{ :valign => "top", :width => "246" }
                  %table{ :cellspacing => "0", :border => "0", :width => "246", :cellpadding => "0" }
                    %tr
                      %td.td_barraIzquierdaIzq{ :valign => "top" }
                        %img#n09{ :name => "n09", :src => "/plugin_assets/community_engine/images/plantilla/09.jpg", :border => "0", :height => "112", :alt => "", :width => "21" }
                      %td{ :rowspan => "2", :valign => "top", :width => "204" }
                      %td.td_barraIzquierdaDer{ :valign => "top" }
                        %img#n11{ :name => "n11", :src => "/plugin_assets/community_engine/images/plantilla/11.jpg", :border => "0", :height => "112", :alt => "", :width => "21" }
                    %tr
                      %td.td_barraIzquierdaIzq
                      %td.td_barraIzquierdaDer
                %td
            %p{ :style => "margin:0px" }
            %p{ :style => "margin:0px" }
        %tr
          %td{ :background => "/plugin_assets/community_engine/images/plantilla/backtablaabajo.jpg", :valign => "top" }
            %table{ :cellspacing => "0", :background => "/plugin_assets/community_engine/images/menu_inferior2.jpg", :border => "0", :height => "213", :align => "center", :width => "1024", :cellpadding => "0", :bgcolor => "#E4E4E4" }
              %tr
                %td{ :rowspan => "2", :height => "198", :align => "left", :valign => "top", :width => "53" }
                %td.style1{ :rowspan => "2", :align => "left", :valign => "top", :width => "161" }
                  %br
                  %span.style7
                    %a.linkfooter{ :href => "#" }
                      Noticias
                    %br
                  %span.linkfooter
                    %a.linkfooter{ :href => "#" }
                      Información Institucional
                    %br
                    %a.linkfooter{ :href => "#" }
                      Programas Académicos
                    %br
                    %a.linkfooter{ :href => "#" }
                      Adminisiones
                    %br
                    %a.linkfooter{ :href => "#" }
                      Vida en el Campus
                    %br
                    %a.linkfooter{ :href => "#" }
                      Educación Contínua
                    %br
                    %a.linkfooter{ :href => "#" }
                      Centro de Idiomas
                    %br
                    %a.linkfooter{ :href => "#" }
                      Investigación
                    %br
                    %a.linkfooter{ :href => "#" }
                      Servicios Universitarios
                    %br
                    %a.linkfooter{ :href => "#" }
                      Servicios en Línea
                %td{ :rowspan => "2", :align => "left", :valign => "top", :width => "150" }
                  %br
                  %span.linkfooter
                    %a.linkfooter{ :href => "#" }
                      Trabaje con Nosotros
                    %br
                    %a.linkfooter{ :href => "#" }
                      Sugerencias
                    %br
                    %a.linkfooter{ :href => "#" }
                      Mapa del Sitio
                    %br
                    %a.linkfooter{ :href => "#" }
                      Suscríbase
                    %br
                    %a.linkfooter{ :href => "#" }
                      Contáctenos
                    %br
                    %a.linkfooter{ :href => "#" }
                      English Versión
                %td{ :rowspan => "2", :align => "left", :valign => "top", :width => "127" }
                  %br
                  %span.linkfooter
                    %a.linkfooter{ :href => "#" }
                      EAFIT Interactiva
                    %br
                    %a.linkfooter{ :href => "#" }
                      EntreNos
                    %br
                    %a.linkfooter{ :href => "#" }
                      Biblioteca Digital
                    %br
                    %a.linkfooter{ :href => "#" }
                      Correo
                    %br
                    %a.linkfooter{ :href => "#" }
                      Pagos en Línea
                    %br
                    %a.linkfooter{ :href => "#" }
                      Agenda Eafitense
                %td{ :rowspan => "2", :align => "left", :valign => "top", :width => "193" }
                  %br
                  %span.linkfooter
                    %a.linkfooter{ :href => "#" }
                      Envivo
                    %br
                    %a.linkfooter{ :href => "#" }
                      Acústica
                    %br
                    %a.linkfooter{ :href => "#" }
                      Colombia Aprende
                    %br
                    %a.linkfooter{ :href => "#" }
                      Colombia es pasión
                    %br
                    %a.linkfooter{ :href => "#" }
                      Percepción Medellín 2007
                    %br
                    %a.linkfooter{ :href => "#" }
                      Fundación Alejandro Ángel Escobar
                    %br
                    %a.linkfooter{ :href => "#" }
                      BIRD Antioquia
                    %br
                    %a.linkfooter{ :href => "#" }
                      Universia
                    %br
                    %a.linkfooter{ :href => "#" }
                      Ruana
                    %br
                    %a.linkfooter{ :href => "#" }
                      Renata
                %td{ :height => "58", :align => "left", :valign => "bottom", :colspan => "2" }
                  %span.title1
                    Currículo vivo es:
                %td{ :rowspan => "2", :align => "left", :valign => "top", :width => "128" }
              %tr
                %td.linkfooter{ :height => "139", :align => "left", :valign => "top", :width => "127" }
                  %br
                  %a.linkfooter{ :href => "#" }
                    Escenarios EAFIT
                  %br
                  %a.linkfooter{ :href => "#" }
                    Herramientas Web 2.0
                  %br
                  %a.linkfooter{ :href => "#" }
                    Biblioteca
                  %br
                  %a.linkfooter{ :href => "#" }
                    Banco de objetos
                  %br
                  %a.linkfooter{ :href => "#" }
                    Blogs
                  %br
                  %a.linkfooter{ :href => "#" }
                    Práctica docente
                %td{ :align => "left", :valign => "top", :width => "85" }
                  %span.linkfooter
                    %br
                    %a.linkfooter{ :href => "#" }
                      Cátedra viva
                    %br
                    %a.linkfooter{ :href => "#" }
                      Personalizado
                    %br
                    %a.linkfooter{ :href => "#" }
                      Talleres
                    %br
                    %a.linkfooter{ :href => "#" }
                      Perfil
                    %br
                    %a.linkfooter{ :href => "#" }
                      Foros
                    %br
                    %a.linkfooter{ :href => "#" }
                      Reflexiones
                    %br
                    %a.linkfooter{ :href => "#" }
                      Agenda
                  %br
              %tr
                %td{ :height => "12", :colspan => "8" }
                  %div{ :align => "center" }
                    %span.bluefooter
                      Copyright 2009 Universidad EAFIT ® Todos los Derechos Reservados | Contact Center: (57) (4) 448 95 00| Teléfono: (57) (4) 2619500 | Carrera 49 N° 7 Sur - 50 | Medellín - Colombia - Suramérica
